# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/
build/

# env
.env
.env.local
.env.*.local

# prisma
packages/db/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# vitest / coverage
coverage/
